body{	
	background-image: url("../images/samples/bgg.jpg");
	background-size: 100% auto;		
	overflow: hidden;
}
header {
	display: block;
	background: #34383c;	
	height: 70px;
	margin-top: -20px;
	margin-left: -10px;	
	margin-right: -8px;	
	padding-right: 0;	
}
header p{	
	position: fixed;
	top : 5px;
	right: 70px;
	color: #FFFFFF;
	font-family: sans-serif;	
}
.event-detail{
	position: absolute;
	width: 270px;	
	height: 250px;
	top: 150px;
	left: 50px;
	background-color: #000000;	
	opacity : 0.7;
}
.event-detail h2{
	position: relative;
	left: 20px;
	top: 0;		
	font-family: monaco, Rockwell, Consolas, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
	color: #d3d3d3;
}
.event-detail p{
	position: absolute;
	color: #FFFFFF;
	font-family: monaco, Rockwell, Consolas, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;	
	left: 20px;
	text-align: left;
}
#searchbox{	
	position: absolute;
	width: 310px;	
	top: 20px;	
	left: 100px;
}
.sidebar {
    position:fixed;
    top:70px; bottom:0; left:0;
    width:60px;
    background:#E62F17;
    margin-top: -12px;
}
.sidebar img{	
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;	
	left: 5px;
	padding-bottom: 10px;
	width: 29px;
	height: 29px;	
	border-radius: 10px;
}
.sidebar img:hover{	
	background-color: #34383c;
}	
.main-container{	
  position: absolute;  
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 34%;
  height: 60%;
}
.photoframe{
	max-width:100%;
	max-height:100%;
	padding:10px;
	border:3px solid #FFFFFF;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.photoframe:HOVER{
	border-radius: 50%;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.icon-pane{	
	position:absolute;
	top : 90px	;
	right : 20px;
	padding : 10px;		
}
.icon-pane:hover { 
    background-color: #00ACED;
}
.icon-pane img{		
	height : 30px;			
}
.thumbnail-container{
	width: 96%;
	background-color: #151515;
	height: 120px;
	position:absolute;
	left :60px;
	bottom:0px;	 	
	overflow: hidden;		
}
.thumbnail{
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;	
	width : 120px; 
	height : 100px;
	padding : 10px;		
}
.thumbnail:hover { 
    background-color: #00ACED;       
    -webkit-transform: scale(1.1,1.1); 
	-moz-transform: scale(1.1,1.1); 
	-o-transform: scale(1.1,1.1); 
	-ms-transform: scale(1.1,1.1); 
	transform: scale(1.1,1.1); 
}
.extended-content{
	color: #DDDDDD;
	float: right;	
	bottom:120px;	
	right: 10px;	
	width : 29%;
	position: fixed;	
}
.extended-content p{	
	font-family:  "Courier New", Courier, monospace;	
    font-size: 1.5em; 
    -webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;      
}
.extended-content p:HOVER{
	color: #FFFFFF;
	text-shadow: 0 1px 0 #666,	
	0 2px 0 #555,
	1px 3px 0 #444,
	2px 4px 0 #333,
	3px 5px 0 #222,
	4px 6px 1px #111,
	0 0 5px rgba(0,0,0,.6),
	0 1px 3px rgba(0,0,0,.5),
	1px 3px 5px rgba(0,0,0,.4),
	3px 5px 10px rgba(0,0,0,.3),
	5px 10px 10px rgba(0,0,0,.2),
	10px 20px 20px rgba(0,0,0,.1);	
}
.quotation, .detail{
	display: none;
}